.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{

    padding: 20px 40px;
}
.price{
    color: #ff136f; 
}

.Buy-now{
   background-image: linear-gradient(to bottom ,#ff5898 0% ,#ff136f 100%);
   border: none;
   border-radius: 8px;
   padding: 9px 25px;
   cursor: pointer;
   overflow: visible;

}


p{
    font-weight: 450;
    font-size: 15px;
}
.container{
    margin-bottom: 100px;
}


.cat-one{

background-color: #fa9c35;
border-radius: 15px;
padding:10px 30px ;


}
.cat-two{
    background-color: #ff589b;
    border-radius: 15px;
    padding:10px 30px ;
}
.cat-three{
    background-color: #4289ff;
    border-radius: 15px;
    padding:10px 30px ;
}
.cat-one:hover{
    box-shadow: 10px 10px 40px lightgray;
border: 0.5px solid rgb(107, 105, 105);
}
.cat-two:hover{
    box-shadow: 10px 10px 40px lightgray;
border: 0.5px solid rgb(107, 105, 105);
}



.cat-three:hover{
    box-shadow: 10px 10px 40px lightgray;
border: 0.5px solid rgb(107, 105, 105);
}
.categories h1{
    color: white;
}
.categories img{
width: 100px;
}
.card{
    border: 0.11px solid lightgray;
    border-radius: 15px;
} 
.card:hover{
    box-shadow: 5px 5px 40px lightgrey;
border: 0.5px solid lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}


#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}
